name: CI
on:
  push:
    branches:
      - 'main'
      - 'scratch/**'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+.[0-9]+'
  pull_request:

jobs:
  check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: ubuntu-22.04
            r: 3.6.3
            # details v0.4.0 requires R >= 4.2.0.
            details_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2023-12-05/src/contrib/details_0.3.0.tar.gz'
            # texPreview v2.0.0 requires R >= 4.0.0.
            texPreview_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2022-03-21/src/contrib/texPreview_1.5.tar.gz'
            pinned: true
          - os: ubuntu-22.04
            r: 4.0.5
            # details v0.4.0 requires R >= 4.2.0.
            details_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2023-12-05/src/contrib/details_0.3.0.tar.gz'
            # httr2 v1.2.0 requires at least R 4.1.
            httr2_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2025-06-16/src/contrib/httr2_1.1.2.tar.gz'
            # magick v2.8.6 requires R >= 4.1.0.
            magick_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2025-02-26/src/contrib/magick_2.8.5.tar.gz'
            # paws.common v0.8.5 requires at least R 4.1.
            paws_common_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2025-06-16/src/contrib/paws.common_0.8.4.tar.gz'
            # purrr v1.1.0 requires at least R 4.1.
            purrr_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2025-06-16/src/contrib/purrr_1.0.4.tar.gz'
            # scales v1.4.0 requires R >= 4.1.0.
            scales_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2025-04-23/src/contrib/scales_1.3.0.tar.gz'
            pinned: true
          - os: ubuntu-22.04
            r: 4.1.3
            # details v0.4.0 requires R >= 4.2.0.
            details_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2023-12-05/src/contrib/details_0.3.0.tar.gz'
            pinned: true
          - os: ubuntu-22.04
            r: 4.2.3
          - os: ubuntu-22.04
            r: 4.3.1
          - os: ubuntu-latest
            r: release
    env:
      R_KEEP_PKG_SOURCE: yes
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::pkgdown
            any::rcmdcheck
            ${{ matrix.config.details_pkg }}
            ${{ matrix.config.httr2_pkg }}
            ${{ matrix.config.magick_pkg }}
            ${{ matrix.config.paws_common_pkg }}
            ${{ matrix.config.purrr_pkg }}
            ${{ matrix.config.scales_pkg }}
            ${{ matrix.config.texPreview_pkg }}
          upgrade: ${{ matrix.config.pinned && 'FALSE' || 'TRUE' }}
      - name: Install other system dependencies
        shell: bash
        run: sudo apt-get install dvipng texlive-latex-base texlive-fonts-extra
      - uses: r-lib/actions/check-r-package@v2
      - name: Check pkgdown
        # The pkgdown in the repo for 3.6.3 does not check_pkgdown.
        if: matrix.config.r != '3.6.3'
        shell: Rscript {0}
        run: pkgdown::check_pkgdown()

  release:
    if: github.ref_type == 'tag'
    name: Upload release
    needs: check
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: metrumresearchgroup/actions/mpn-latest@v1
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true
          # For pkgpub.
          extra-repositories: 'https://mpn.metworx.com/snapshots/stable/${{ env.MPN_LATEST }}'
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::pkgpub
      - uses: metrumresearchgroup/actions/publish-r-release@v1
